<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.ItemMapper">
    <select parameterType="map" id="consultarItems" resultMap="ItemResult" >
        select
            i.id ,
            i.nombre ,
            i.descripcion ,
            i.fechalanzamiento ,
            i.tarifaxdia ,
            i.formatorenta ,
            i.genero ,
            ti.id ,
            ti.descripcion

        FROM VI_ITEMS as i
                 left join VI_TIPOITEM as ti on i.TIPOITEM_id=ti.id
                  WHERE i.id =#{itid};
    </select>

    <resultMap id="ItemResult" type="Item">
        <id property="id" column="id"/>
        <result property="nombre" column="nombre"/>
        <result property="descripcion" column="descripcion"/>
        <result property="fechalanzamiento" column="fechalanzamiento"/>
        <result property="tarifaxdia" column="tarifaxdia"/>
        <result property="formatorenta" column="formatorenta"/>
        <result property="genero" column="genero"/>
        <association property="tipo" javaType="TipoItem" columnPrefix="ti_"
                     resultMap="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper.TipoItemResult"/>
    </resultMap>
    <insert id="agregarItem" parameterType="map">
        insert into VI_ITEMS(id,nombre,descripcion,fechalanzamiento,tarifaxdia,formatorenta,genero,TIPOITEM_id) values
            (#{item.id,},#{item.nombre},#{item.descripcion},#{item.fechalanzamiento},#{item.tarifaxdia},#{item.formatorenta},#{item.genero},#{item.TIPOITEM_id});
    </insert>
    
    
</mapper>